@model WalkingTec.Mvvm.Core.BaseVM
@using System.Text.Json

<div class="layui-row layui-col-space15" id="frontpage">
  <div class="layui-col-md8">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md6">
        <div class="layui-card">
          <div class="layui-card-header">快捷方式</div>
          <div class="layui-card-body">

            <div class="layui-carousel layadmin-carousel layadmin-shortcut">
              <div carousel-item>
                <ul class="layui-row layui-col-space10">
                  <li class="layui-col-xs3">
                    <a lay-href="_Admin/FrameworkUser/Index">
                      <i class="layui-icon layui-icon-username"></i>
                      <cite>用户</cite>
                    </a>
                  </li>
                  <li class="layui-col-xs3">
                    <a lay-href="_Admin/FrameworkRole/Index">
                      <i class="layui-icon layui-icon-tabs"></i>
                      <cite>角色</cite>
                    </a>
                  </li>
                  <li class="layui-col-xs3">
                    <a lay-href="_Admin/FrameworkMenu/Index">
                      <i class="layui-icon layui-icon-app"></i>
                      <cite>菜单</cite>
                    </a>
                  </li>
                  <li class="layui-col-xs3">
                    <a lay-href="_Admin/FrameworkGroup/Index">
                      <i class="layui-icon layui-icon-user"></i>
                      <cite>用户组</cite>
                    </a>
                  </li>
                  <li class="layui-col-xs3">
                    <a lay-href="_Admin/DataPrivilege/Index">
                      <i class="layui-icon layui-icon-auz"></i>
                      <cite>数据权限</cite>
                    </a>
                  </li>
                  <li class="layui-col-xs3">
                    <a lay-href="_Admin/ActionLog/Index">
                      <i class="layui-icon layui-icon-console"></i>
                      <cite>日志</cite>
                    </a>
                  </li>
                  <li class="layui-col-xs3">
                    <a href="/_codegen/index" target="_blank">
                      <i class="layui-icon layui-icon-template-1"></i>
                      <cite>代码生成</cite>
                    </a>
                  </li>
                  <li class="layui-col-xs3">
                    <a href="https://wtmdoc.walkingtec.cn" target="_blank">
                      <i class="layui-icon layui-icon-read"></i>
                      <cite>文档</cite>
                    </a>
                  </li>
                </ul>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<script>
  $("#frontpage").parents(".layui-card").css("background-color", "#eee").css("height","unset");

  //区块轮播切换
  layui.use(['admin', 'carousel'], function () {
    var $ = layui.$
      , admin = layui.admin
      , carousel = layui.carousel
      , element = layui.element
      , device = layui.device();

    //轮播切换
    $('.layadmin-carousel').each(function () {
      var othis = $(this);
      carousel.render({
        elem: this
        , width: '100%'
        , arrow: 'none'
        , interval: othis.data('interval')
        , autoplay: othis.data('autoplay') === true
        , trigger: (device.ios || device.android) ? 'click' : 'hover'
        , anim: othis.data('anim')
      });
    });

    element.render('progress');

  });

</script>
